.navbar {
    overflow: hidden;
    background-color: #082040;
    padding: 2%;
    margin-bottom: 2%;
}

#logo{
    display: inline;
}

#logout{
    display: inline;
    padding: 10px 15px;
    float: right;
    background-color: #165F8C;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#logout:hover {
    background-color: #4c7792;
}