.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subcontainer{
    background-color: #082040;
    border-radius: 10px;
    padding: 2%;
    width: 60%;
    margin-bottom: 2%;
}

input {
    width: 100%;
}

.title {
    margin-top: 0;
}

.sub-title{
    margin: 0;
}

.item {
    background-color: #384D59;
    padding: 2%;
    border-radius: 10px;
    margin-top: 2%;
}

.submitButton{
    margin-top: 2%;
    background-color: #165F8C;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.submitButton:hover{
    background-color: #4c7792;
}

.submitButton2{
    margin-bottom: 2%;
    background-color: #165F8C;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.submitButton2:hover{
    background-color: #4c7792;
}
